.App {
  text-align: center;
  color: black;
}

.error {
  color: rgb(130, 0, 0);
  margin: 10px;
}

/* HEADER AREA */
header {
  display: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  box-shadow: 0 2px 3px #a9bfcd;
  background: #9AE3C0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}

.home-link {
  width: 300px;
  text-align: left;
}

.home-link:hover {
  background: #9AE3C0;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 57px;
}

nav {
  display: grid;
  grid-area: nav;
  justify-self: center;
}

.header-links {
  height: 50px;
  width: 120px;
  border-radius: 30px;

  padding: 10px 20px;
  font-size: 24px;
  line-height: 29px;
}

.signup, .workouts {
  margin-right: 50px;
}

.signup, .workouts {
  background-color: #fff;
  border: solid 2px #24851b;
  color: #2a851b;
}

.signup:hover, .workouts:hover {
  background: #24851b;
  border: solid 2px #24851b;
  color: #fff;
}

.login, .logout {
  background:#fff;
  color: #006BFF;
  border: solid 2px #006BFF;
}

.login:hover, .logout:hover {
  background: #006BFF;
  color: #fff;
}

/* MAIN PAGE */
main {
  margin: 0 auto;
  padding: 40px;
  max-width: 1080px;
}

.landing-text {
  margin: 25px auto 85px;
  width: 589px;
  text-align: left;
}

main p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.link {
  width: 200px;
  height: 50px;
  border-radius: 30px;

  padding: 10px 40px;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
}

/* LOGIN / SIGN UP */
.form-container {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  width: 600px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px #C4C4C4;
}

.inp-cont {
  margin: 0 auto;
}

.form-label {
  font-size: 24px;
  line-height: 29px;
  border: none;
}

.login-form input, .signup-form input {
  width: 403px;
  height: 80px;
  background: #fff;
  opacity: 0.9;
  font-size: 24px;
  line-height: 29px;
  padding: 0 10px;
  border: solid 1px #C4C4C4;
  border-radius: 4px;
}

.login-form input:-webkit-autofill,  .signup-form input:-webkit-autofill {
  background: #fff;
  font-size: 24px;
}

.user-label {
  border: none;
}

.submit {
  background-color: rgb(14, 74, 159);
  border: solid 2px rgb(14, 74, 159);
  color: #fff;
}

.submit:active {
  position:relative;
  top:1px;
  transition: .3s;
}

/* CREATE WORKOUT */
.create-form {
  text-align: center;
}

.row {
  max-width: 500px;
}

label {
  display: grid;
  align-self: center;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(14, 74, 159);
  border: 2px solid rgb(14, 74, 159);
  border-radius: 4px;
  background-color: #fff;
}

.check {
  background-color: #fff;
}

input:checked + label {
  background-color: rgb(14, 74, 159);;
  font-weight: bolder;
  border: 1px solid rgb(14, 74, 159);
  color: #fff;
}

.checkbox-input {
  background-color: #fff;
  border: 1px solid rgb(14, 74, 159);
  color: rgb(14, 74, 159);
}

.selected-checkbox {
  background-color:rgb(14, 74, 159);
  font-weight: bolder;
  height: auto;
  margin: 10px;
  border: 1.5px solid rgb(14, 74, 159);
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

.name-wo {
  padding: 5px;
  font-size: 24px;
  border-radius: 4px;
  width: 30rem;
  margin  : 10px;
  border: solid 2px rgb(14, 74, 159);
}

.name-wo::placeholder {
  color: #C4C4C4;
}

.arr {
  color: #fff;
  border: solid 2px rgb(14, 74, 159);
  background-color: rgb(14, 74, 159);
}

.arr:hover{
  background: rgb(14, 74, 159);
  transform: scale(1.1);
  border: solid 2px rgb(14, 74, 159);
}

/* WORKOUTS LIST */
.workouts-header {
  margin-bottom: 20px;
}

.menu {
  text-align: center;
  padding: 0;
}

.row {
  display: grid;
  grid-area: main;
}

button, .view-link {
background: #fff;
border-radius:6px;
display:inline-block;
cursor:pointer;
font-family:Arial;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}

.view-link {
  background: #fff;
  border: solid 2px #2a851b;
  color: #2a851b;
}

.view-link:hover {
  background: #2a851b;  
  border: solid 2px #2a851b;
  color: #fff;
}

.delete {
  background: #fff;
  border: solid 2px #202526;
}

.delete:hover {
  background: #202526;
  border: solid 2px #202526;
  color: #fff;
}

button:active {
  position:relative;
  top:1px;
  transition: .3s;
}

a:hover, button:hover {
transition: .2s;
}

.btn {
  margin: 10px;
  font-size: 18px
}

.workouts-list {
  font-size: 24px;
}

.workouts-table {
  margin: 0 auto;
  table-layout: fixed;
  padding: 30px 0;
  min-width: 720px;
}

.tr {
  border-bottom: .5px solid black;
}

.tb-name, .tb-del  {
  width: 30%;
  font-size: 20px;
}

.tb-view {
  width: 30%;
  margin: 0 40px;
}

.wo-name {
  font-size: 22px;
}

.create-link {
  margin-top: 10px;
  background: #fff;
  border: solid 2px #ce453b;
  color: #ce453b;
}

.create-link:hover {
  background: #ce453b;;
  border: solid 2px #ce453b;;
  color: #fff;
}

/* VIEW WORKOUT */
.flex-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tbh {
  vertical-align: top;
}

.inst {
  font-size: 1.8rem
}

.ic {
  display: flex;
  align-items: center;
}

.dt {
  font-size: 1.8rem;
}

.f-left {
  float: left;
}

.ml-10 {
  margin-left: 10px;
}

.lrg {
  font-size: 28px;
  font-weight: 600;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.up-c-left {
  text-transform: uppercase;
  text-align: left;
}

.num {
  font-size: 1.5rem;
}

.desc {
  font-size: 1.5rem;
}

.nav-link {
  list-style-type: none;
  color: white;
}

.navbar {
  color: white;
  align-self: start;
}

.nav {
  text-align: center;
  padding: 20px;
}

.detail {
  font-size: 20px;
}

.workout-details {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.exercise-reps {
  color: white;
  font-size: 24px;
}

.exercise-desc {
  font-size: 18px;
}

/* Exercise Screens */
.cap {
  text-transform: uppercase;
}

.ex-cont {
  margin: 20px auto;
  max-width: 680px;
  display: flex;
  align-items: center;
}

.ex-desc {
  margin: 0 10px 0 0;
  font-size: 24px;
}

.ex-reps {
  margin: 0 0 0 10px;
  font-size: 4rem;
}

/* STOPWATCH */
.sw-cont {
  margin: 40px;
  background: #ecf5f7;
  border: solid 5px #202526;
  border-radius: 50%;
  display: inline-block;
  padding-top: 70px;
  min-width: 450px;
  min-height: 450px;
  box-shadow: 1.2px 2.4px 3px rgb(44, 65, 96);
}

.sw-cont h4{
  margin: 20px;
  font-size: 6rem;
  border: solid 2.5px black;
  border-radius: 4px;
  display: inline-block;
  padding: 0 40px;
  background: #fff;
  box-shadow: .6px 1.2px 2px rgb(44, 65, 96);
}

h5 {
  margin-top: 20px;
  font-size: 2rem;
}

.btn-cont  button{
  margin: 20px 5px;
}

.finished-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #04d775;
  border-radius: 30px;
  margin: 10px;
  color: white;
}

#start, #pause, #reset {
  font-size: 24px;
}

#start, #pause {
  color: #fff;
  border-color: rgb(14, 74, 159);
  background: rgb(14, 74, 159);
}

#reset {
  color: #fff;
  border-color: #ce453b;
  background: #ce453b;
}

.finished-link:hover {
  background-color: #00b05e
}