.App {
  text-align: center;
  color: black;
}
.error {
  color: rgb(130, 0, 0);
  margin: 10px;
}

.hidden {
  display: none;
}

/* HEADER AREA */
header {
  top: 0;
  width: 100%;
  padding: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Saira Stencil One', sans-serif;
  color: #1D668F;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 59px;
}

.home-link {
  width: 300px;
  text-align: left;
}

.header-links {
  height: 50px;
  width: 120px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  line-height: 29px;
}

.signup, .workouts {
  margin-right: 50px;
}

.signup, .workouts {
  background-color: #1A975B;
  color: #fff;
}

.signup:hover, .workouts:hover {
  background: #00b35d;
}

.login, .logout {
  background: #1d668f;
  color: #fff;
}

.login:hover, .logout:hover, .try-it:hover {
  background: #2c96d2;
}

.menu-icon {
  display: none;
}

.fa-bars {
  color: #1D668F;
}

/* MAIN PAGE */
main {
  margin: 0 auto;
  padding: 40px;
  max-width: 1080px;
}

.container {
  background-color: #fff;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 50px;
  max-width: 800px;
  min-height: 400px;
  box-shadow: 2px 4px 4px #C4C4C4;
}

h2 {
  margin-bottom: 20px;
  color: #05733e;
  font-size: 36px;
  font-weight: 600;
}

.lt-h2 {
  margin-bottom: 20px;
}

.lt-h3 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}

.landing-text {
  margin: 0 auto;
  text-align: left;
}

.landing-text > ul {
  m: 10px;
}

main p {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.link {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
}

.pad-bt-20 {
  padding-bottom: 20px;
}

.btmrg-40 {
  margin-bottom: 40px;
}

.try-cnt {
  text-align: center;
}

.try-it {
  background: #1D668F;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 30px;
}

/* LOGIN / SIGN UP */
.form-container {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: 2px 4px 4px #C4C4C4;
}

.inp-cont {
  margin: 0 auto;
}

.form-label {
  font-size: 24px;
  line-height: 29px;
  border: none;
}

.login-form input, .signup-form input {
  /*width: 403px;*/
  height: 60px;
  background: #fff;
  opacity: 0.9;
  font-size: 24px;
  line-height: 29px;
  padding: 0 10px;
  border: solid 1px #C4C4C4;
  border-radius: 4px;
}

.login-form input:-webkit-autofill,  .signup-form input:-webkit-autofill {
  background: #fff;
  font-size: 24px;
}

.user-label {
  border: none;
}

.submit {
  background-color: rgb(14, 74, 159);
  border: solid 2px rgb(14, 74, 159);
  color: #fff;
}

.submit:active {
  position:relative;
  top:1px;
  transition: .3s;
}

/* CREATE WORKOUT */
.create-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

label {
  display: grid;
  align-self: center;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(14, 74, 159);
  border: 2px solid rgb(14, 74, 159);
  border-radius: 30px;
}

.check {
  background-color: #ACAFAD;
  border: none;
  color: #fff;
  font-size: 24px;
}

input:checked + .check {
  /*background-color: rgb(14, 74, 159);*/
  /*font-weight: bolder;*/
  /*border: 2px solid rgb(14, 74, 159);*/
  /*color: #fff;*/
  background-color: #36B1F6;
}

.checkbox-input {
  /*background-color: #fff;*/
  /*border: 1px solid rgb(14, 74, 159);*/
  /*color: rgb(14, 74, 159);*/
  background-color: #ACAFAD;
}

.selected-checkbox {
  background-color: #36B1F6;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

.name-wo {
  padding: 8px 16px;
  font-size: 24px;
  width: 30rem;
  margin  : 10px;
  border: solid 2px #a2a3a5;
  border-radius: 30px;
  outline: none;
  color: #2f3031;
}

.name-wo::placeholder {
  color: #C4C4C4;
}

.arrow-btns {
  display: flex;
  flex-direction: row;
}

.arr {
  color: #fff;
  border: none;
  transition: ease-out 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #1A975B;
  box-shadow: inset 0 0 0 0 #38aff3;
  outline: none;
}

.r-arr:hover{
  background-color: #1A975B;
  box-shadow: inset 4rem 0 0 0 #38aff3;
  animation: moveRight 1s infinite;
  transition: .3s;
}

.l-arr:hover {
  background-color: #1A975B;
  box-shadow: inset -4rem 0 0 0 #38aff3;
  animation: moveRight 1s infinite;
  transition: .3s;
}

.cw-sub:hover {
  background-color: #38aff3;
  transition: .3s;
}

/* WORKOUTS LIST */
.wol-container {
  background-color: #fff;
  padding: 20px 40px 40px;
  margin: 0 auto;
  border-radius: 50px;
  max-width: 800px;
  box-shadow: 2px 4px 4px #C4C4C4;
}

.workouts-header {
  margin-bottom: 20px;
}

.menu {
  text-align: center;
  padding: 0;
}

.row {
  display: grid;
  grid-area: main;
}

button, .view-link {
  background: #fff;
  border-radius:6px;
  display:inline-block;
  cursor:pointer;
  font-family: Roboto, sans-serif;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}

.view-link {
  background-color: #167bb5;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 5px;
  content: 'View';
  box-shadow: inset 0 0 0 0 #38aff3;
  transition: ease-out 0.3s;
}

.view-link:hover {
  background: #38aff3;
  box-shadow:  inset 3rem 0 0 #38aff3;
}

.view-link p {
  margin: 0;
  width: 3rem;
}

.view-link p.new-label span{
  position: relative;
  content: 'View';
}
.view-link:hover p.new-label span{
  display: none;
}

.view-link:hover p.new-label:after{
  content: '>';
  font-weight: bold;
  position: relative;
  bottom: 2px;
  animation: moveRight 1s infinite;
  transition: .3s;
}

@keyframes moveRight {
  from {left: -5px;}
  to {left: 5px;}
}

.delete {
  background: #167bb5;
  color: #fff;
  border: none;
  padding: 8px 24px;
  font-size: 16px;
}

.delete:hover {
  background: #38aff3;
}

.submit:active {
  position:relative;
  top:1px;
  transition: .3s;
  outline: none;
}

a:hover, button:hover {
transition: .2s;
}

.btn {
  margin: 10px;
  font-size: 24px;
}

.workouts-list {
  font-size: 24px;
}

.workouts-table {
  margin: 0 auto;
  table-layout: fixed;
  padding: 0 0 20px 0;
}

.tr {
  border-bottom: .5px solid black;
}

.op-0 {
  opacity: 0;
}

.mar-0 {
  margin: 0;
}

.tb-name, .tb-view, .tb-del  {
  width: 30%;
  font-size: 20px;
}

.mar-40 {
  margin: 60px;
}

.wo-name {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
}

.create-link {
  margin-top: 10px;
  position: relative;
  top: 10px;
  background-color: #1A975B;
  color: #fff;
}

.create-link:hover {
  background-color: #00b35d;
  color: #fff;
}

/* VIEW WORKOUT */
.flex-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tbh {
  vertical-align: top;
}

.inst {
  font-size: 1.8rem
}

.ic {
  display: flex;
  align-items: center;
}

.dt {
  font-size: 1.8rem;
}

.f-left {
  float: left;
}

.ml-10 {
  margin-left: 10px;
}

.lrg {
  font-size: 28px;
  font-weight: 600;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.up-c-left {
  text-transform: uppercase;
  text-align: left;
}

.num {
  font-size: 1.5rem;
}

.desc {
  font-size: 1.5rem;
}

.nav-link {
  list-style-type: none;
  color: white;
}

.navbar {
  color: white;
  align-self: start;
}

.nav {
  text-align: center;
  padding: 20px;
}

.detail {
  font-size: 20px;
}

.workout-details {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.exercise-reps {
  color: white;
  font-size: 24px;
}

.exercise-desc {
  font-size: 18px;
}

/* Exercise Screens */
.cap {
  text-transform: uppercase;
}

.ex-cont {
  margin: 20px auto;
  max-width: 680px;
  display: flex;
  align-items: center;
}

.ex-desc {
  margin: 0 10px 0 0;
  font-size: 24px;
}

.ex-reps {
  margin: 0 0 0 10px;
  font-size: 4rem;
}

/* STOPWATCH */
.sw-cont {
  margin: 40px;
  background: #ecf5f7;
  border: solid 5px #202526;
  border-radius: 50%;
  display: inline-block;
  padding-top: 75px;
  min-width: 450px;
  min-height: 450px;
  box-shadow: 1.2px 2.4px 3px rgb(44, 65, 96);
}

.sw-cont h4{
  margin: 20px;
  font-size: 6rem;
  border: solid 2.5px black;
  border-radius: 4px;
  display: inline-block;
  padding: 0 40px;
  background: #fff;
  box-shadow: .6px 1.2px 2px rgb(44, 65, 96);
}

h5 {
  margin-top: 10px;
  font-size: 2rem;
}

.btn-cont  button{
  margin: 20px 5px;
}

.finished-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #04d775;
  border-radius: 30px;
  margin: 10px;
  color: white;
}

#start, #pause, #reset {
  font-size: 24px;
}

#start, #pause {
  color: #fff;
  border-color: rgb(14, 74, 159);
  background: rgb(14, 74, 159);
}

#reset {
  color: #fff;
  border-color: #ce453b;
  background: #ce453b;
}

.finished-link:hover {
  background-color: #00b05e
}