body {
    background-color: rgb(234, 233, 229);
}

.App {
    text-align: center;
    background-color:  rgb(234, 233, 229);
    color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-areas: 
    ". nav nav ."
    "header header header header"
    "main main main main"
}

header {
    grid-area: header;
}

nav {
    display: grid;
    grid-area: nav;
    justify-self: center;
}

main {
    display: grid;
    grid-area: main;
    padding: 10px;
}

.menu {
    text-align: center;
    padding: 0;
}

.row {
    display: grid;
    grid-area: main;
}

.nav-link {
    list-style-type: none;
    color: white;
}

.navbar {
    color: white;
    align-self: start;
}

.nav {
    text-align: center;
    padding: 20px;
}

.workouts-table {
    margin-left: auto; 
    margin-right: auto;
    table-layout: fixed;
    padding: 20px;
}
  
.tb-name {
    width: 30%;
}
  
.tb-date {
    width: 30%;
}
  
.tb-view {
    width: 30%;
}

h2 {
    color: #EB46C2;
}

label {
    display: grid;
    align-self: center;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.user-label {
    border: none;
}

input:checked + label {
    background-color: #32F5B1;
    color: #2439D6;
    font-weight: bolder;
}

.selected-checkbox {
    background-color: #32F5B1;
    color: #2439D6;
    font-weight: bolder;
    height: auto;
    margin: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

button {
	background-color: #2439D6;
	border-radius:6px;
	border:1px solid #2439D6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2439D6;
}
button:hover {
    background:linear-gradient(to bottom, #EB46C2 5%, #EB46C2 100%);
	background-color: #2439D6;
}
button:active {
	position:relative;
	top:1px;
}

.small-btn {
    font-size: 16px;
    margin: 10px;
}

.big-btn {
    font-size: 32px;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.workouts-list {
    font-size: 24px;
}

.workouts-list-name {
    font-size: 28px;
    text-decoration: underline;
    color: #32F5B1;
}

.workout-details {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.exercise-reps {
    color: white;
    font-size: 24px;
}

.exercise-title {
    color: #EB46C2;
}

.exercise-desc {
    font-size: 18px;
}

/* @media screen and (max-width: 600px) {
    .App {
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-areas: 
        ". nav nav ."
        ". header header ."
        ". main main ."
    }

    header {
        grid-area: header;
    }

    nav {
        display: grid;
        grid-area: nav;
        justify-self: center;
    }

    main {
        display: grid;
        grid-area: main;
        padding: 10px;
    }

    .row {
        display: grid;
        grid-area: main;
    }

    .nav-link {
        list-style-type: none;
        color: white;
    }

    .nav label {
        display: inline-block;
        width: 100%; 
        color: white;
    }

    .nav ul li {
        display: block;
        cursor: pointer;
    }

    label {
        display: grid;
        align-self: center;
        border: 1px solid white;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }
}  */

@media screen and (min-width: 600px) {
    .App {
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-areas: 
        "header header . ."
        "sidebar main main ."
    }

    .nav-link {
        list-style-type: none;
        color: white;
    }

    .menu {
        text-align: center;
    }
    
    .navbar {
        color: white;
        align-self: start;
    }

    header {
        grid-area: header;
    }

    nav {
        display: grid;
        grid-area: sidebar;
        justify-self: center;
    }

    main {
        display: grid;
        grid-area: main;
        padding: 10px;
    }

    .row {
        display: grid;
        grid-area: main;
    }

    label {
        display: grid;
        align-self: center;
    }
}