body {
    background-color: black;
}

.App {
    text-align: center;
    background-color:  black;
    color: white;
    width: 100%;
  }

.nav-link {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    color: white;
}

.workouts-table {
    margin-left: auto; 
    margin-right: auto;
    table-layout: fixed;
    padding: 20px;
}
  
.tb-name {
    width: 30%;
}
  
.tb-date {
    width: 30%;
}
  
.tb-view {
    width: 30%;
}

h1 {
    color: #32F5B1;
}

h2 {
    color: #EB46C2;
}

label {
    border: 1px solid white;
    /* border-radius: 25px; */
    margin: 10px;
    font-size: 18px;
}

.user-label {
    border: none;
}

input {
    color: #EB46C2;
    margin: 10px;
    margin: 5px;
}

input:checked + label {
    background-color: #32F5B1;
    color: #2439D6;
    font-weight: bolder;
}

.form-check-input:checked + label {
    background-color: #32F5B1;
}

.checkbox:checked + label {
    background-color: #32F5B1;
}

input[type="checkbox"]:checked + label {
    box-shadow: 0 0 0 3px #EB46C2;
    background-color: #32F5B1;
}

input[type="radio"] {
    display: none;
}

.workout-time {
    color: white;
}

/* .time {
    border: 1px solid white;
} */

button {
	/* box-shadow:inset 0px 1px 0px 0px #2439D6; */
	/* background:linear-gradient(to bottom, #2439D6 5%, #2439D6 100%); */
	background-color: #2439D6;
	border-radius:6px;
	border:1px solid #2439D6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	/* font-size:15px; */
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2439D6;
}
button:hover {
	background:linear-gradient(to bottom, #32F5B1 5%, #32F5B1 100%);
	background-color: #2439D6;
}
button:active {
	position:relative;
	top:1px;
}

.small-btn {
    font-size: 16px;
    margin: 10px;
}

.big-btn {
    font-size: 32px;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: #EB46C2;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color:  #EB46C2;
}

.workouts-list {
    font-size: 24px;
}

.workouts-list-name {
    font-size: 28px;
    text-decoration: underline;
    color: #32F5B1;
}

.workout-details {
    font-size: 20px;
}

@media screen and (max-width: 450px) {
    .nav-link {
        color: #EB46C2;
    }
    
    .nav ul {
        display: none;
    }
    
    .nav label {
        display: inline-block;
        width: 100%; 
        color: white;
    }
    
    label[for="hamburger"] {
        font-size: 30px;
    }
    
    .nav ul li {
        display: block;
        cursor: pointer;
    }
    
    .nav input:checked ~ ul {
        display: block;
    }
    
    .nav input {
        visibility: hidden
    }
    
    .nav label, #hamburger {
        display: none;
    }
}


@media screen and (min-width: 600px) {
    .App {
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        /* grid-template-rows: 25% 25% 25% 25%; */
        grid-template-areas: 
        "header header . ."
        "sidebar main main ."
        /* ". question1 question2 question3"
        ". answer1 answer2 answer3"
        "button other other other" */
        /* "sidebar form form ." */
        ;
    }

    .nav-link {
        list-style-type: none;
        color: white;
    }

    .menu {
        text-align: center;
    }
    
    .navbar {
        color: white;
        align-self: start;
    }

    .navbar #hamburger {
        display: none;
    }

    .navbar label, #hamburger {
        display: none;
    }

    header {
        grid-area: header;
    }

    nav {
        display: grid;
        grid-area: sidebar;
        justify-self: end;
    }

    main {
        display: grid;
        grid-area: main;
        padding: 10px;
    }

    .row {
        display: grid;
        grid-area: main;
    }

    label {
        display: grid;
        align-self: center;
    }
}